<app-header [isOnTop]="isOnTop"
            [menuList]="menuList"
            [currentLanguageFlag]="currentLanguageFlag"
            (language)="changeLanguage($event)"
            (sidenav)="toggleSidenav($event)">
</app-header>

<app-sidenav [isSidenavOpen]="isSidenavOpen"
             [menuList]="menuList"
             [currentLanguageFlag]="currentLanguageFlag"
             (sidenav)="toggleSidenav($event)"
             (language)="changeLanguage($event)">
</app-sidenav>

<router-outlet></router-outlet>

<app-footer></app-footer>