<div class="sidenav-container" *ngIf="isSidenavOpen">
  <div class="sidenav-overlay" *ngIf="showSidenav" (click)="closeSidenav()"></div>
  <div class="sidenav" [@slideInOut]="showSidenav">

    <!-- ACCORDION MENU -->
    <app-accordion [options]="options"
                   [menuList]="menuList"
                   [currentLanguageFlag]="currentLanguageFlag"
                   (language)="changeLanguage($event)"
                   (sidenav)="closeSidenav($event)">
    </app-accordion>
  </div>
</div>