<div class="home-container">

  <section class="wallpaper">
    <app-wallpaper></app-wallpaper>
  </section>

  <div class="container">

    <section id="carousel" class="mt20">

      <app-carousel [slides]="carouselSlides"></app-carousel>

      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa delectus in expedita eveniet alias esse impedit nemo
      consectetur maxime ipsam cum nam consequatur dolore omnis aliquam corrupti velit minus, eligendi laudantium porro
      cumque soluta nisi! Porro quae impedit soluta repudiandae, fugit a, reprehenderit voluptates fuga maiores qui est.
      Consequuntur inventore, consectetur magnam dolorum asperiores magni, veniam porro atque suscipit numquam necessitatibus,
      optio nobis officia nesciunt. At, quidem! Nostrum, temporibus vel? Fuga tenetur, itaque fugiat optio veritatis architecto
      magni consequuntur deleniti expedita voluptatem! Quae doloribus modi harum totam id provident consequatur fugit rem deserunt,
      tenetur exercitationem, atque praesentium officia obcaecati laborum?
    </section>

    <section id="mission" class="mt20">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa delectus in expedita eveniet alias esse impedit nemo
      consectetur maxime ipsam cum nam consequatur dolore omnis aliquam corrupti velit minus, eligendi laudantium porro
      cumque soluta nisi! Porro quae impedit soluta repudiandae, fugit a, reprehenderit voluptates fuga maiores qui est.
      Consequuntur inventore, consectetur magnam dolorum asperiores magni, veniam porro atque suscipit numquam necessitatibus,
      optio nobis officia nesciunt. At, quidem! Nostrum, temporibus vel? Fuga tenetur, itaque fugiat optio veritatis architecto
      magni consequuntur deleniti expedita voluptatem! Quae doloribus modi harum totam id provident consequatur fugit rem deserunt,
      tenetur exercitationem, atque praesentium officia obcaecati laborum?
    </section>

    <section id="about" class="mt20">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa delectus in expedita eveniet alias esse impedit nemo
      consectetur maxime ipsam cum nam consequatur dolore omnis aliquam corrupti velit minus, eligendi laudantium porro
      cumque soluta nisi! Porro quae impedit soluta repudiandae, fugit a, reprehenderit voluptates fuga maiores qui est.
      Consequuntur inventore, consectetur magnam dolorum asperiores magni, veniam porro atque suscipit numquam necessitatibus,
      optio nobis officia nesciunt. At, quidem! Nostrum, temporibus vel? Fuga tenetur, itaque fugiat optio veritatis architecto
      magni consequuntur deleniti expedita voluptatem! Quae doloribus modi harum totam id provident consequatur fugit rem deserunt,
      tenetur exercitationem, atque praesentium officia obcaecati laborum?
    </section>

    <section id="boxes" class="mt20">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa delectus in expedita eveniet alias esse impedit nemo
      consectetur maxime ipsam cum nam consequatur dolore omnis aliquam corrupti velit minus, eligendi laudantium porro
      cumque soluta nisi! Porro quae impedit soluta repudiandae, fugit a, reprehenderit voluptates fuga maiores qui est.
      Consequuntur inventore, consectetur magnam dolorum asperiores magni, veniam porro atque suscipit numquam necessitatibus,
      optio nobis officia nesciunt. At, quidem! Nostrum, temporibus vel? Fuga tenetur, itaque fugiat optio veritatis architecto
      magni consequuntur deleniti expedita voluptatem! Quae doloribus modi harum totam id provident consequatur fugit rem deserunt,
      tenetur exercitationem, atque praesentium officia obcaecati laborum?
    </section>

  </div>

</div>