<section class="full-width-img" id="top" #topRef></section>

<!-- FULL HEIGHT BACKGROUND CONTENT -->
<div class="bg-content">
  <div class="bg-content-middle">
    <!-- FULL HEIGHT BACKGROUND LOGO -->
    <img class="bg-logo mb-50" alt="Artemis" src="../../../../assets/images/logos/artemis-white.png"/>

    <!-- FULL HEIGHT BACKGROUND TEXT -->
    <h3 class="background-txt">Hello</h3>

    <!-- FULL HEIGHT BACKGROUND SCROLL BUTTON -->
    <div class="scroll-btn-container">
      <button mat-mini-fab class="scroll-btn">
        <mat-icon>expand_more</mat-icon>
      </button>
    </div>
  </div>
</div>