<div class="about-us-container">
  <h1>About Us Container</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci cupiditate, incidunt vero quo magni perspiciatis
    hic aliquid necessitatibus autem rem modi et at excepturi deleniti eaque repellat ipsam nemo? Maxime necessitatibus
    perspiciatis labore ipsa aperiam veniam ullam deleniti magni optio similique. A, nulla enim optio nesciunt, aliquam
    doloribus veniam rem ut temporibus alias sunt. Quae voluptate non sapiente voluptatum magni rem minima a doloribus
    dolores, illum debitis dicta harum hic libero aspernatur eveniet totam soluta nisi beatae quod facilis expedita.
    Recusandae deleniti quibusdam numquam quos mollitia temporibus totam in, quod tempore aliquid possimus at eum beatae
    minima consectetur excepturi eligendi.</p>
</div>